html {
  height: 100%;
}

body {
  height: 100%;


}

h1, h2, h3, h4, p {
  text-align: center;
}

.jumbotron{
  text-align: center;
  background-image: url(images/loader.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 95%;
  color: white;
  text-shadow: 2px 2px black;
  display: flex;
  align-items: center;

}

.navbar-default{
  margin: 0;
}

.jumbotron h1, h2 {
  font-weight: bold;
}

.btn-default{
  background-color: #DBA228;
  border: none;
  color: #fff;
}

.portfolio{
  text-align: center;

}

.excavation-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.excavation-list li{
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;

}

.row {
  margin: 20px;
}
