html {
  height: 100%;
}

body {
  height: 100%;

}

h1, h2, h3, h4, p {
  text-align: center;
}



.jumbotron{
  text-align: center;
  background-image: url(images/layer70.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px black;
  display: flex;
  align-items: center;
  height: 75%;


}

.navbar-default{
  margin: 0 auto;
  background-color: black;
  height: 10%;
  border: none;
  display: flex;
  align-items: center;

}

.navbar-brand{
  padding: 0;
  margin-right: 20px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: #dba228;
  background-color: black;
}

.jumbotron h1, h2 {
  font-weight: bold;
}

.btn-default{
  background-color: #DBA228;
  border: none;
  color: #fff;
}

.services{
  height: 100%;
}

.services .col-md-6 {
  background-color: #F0F0F0;
  padding: 20px;
  margin: 1%;
  width: 48%;
  height: 20%;
  text-align: center;
  position: relative;

}

.services .col-md-6 img {
  top: 50%;
  position: relative;
}
